# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Visual Studio cache/options directory
.vs/
bin/
obj/

# ASP.NET Core
appsettings.Development.json
*.csproj.user

# Logs
*.log

# NuGet
*.nupkg
*.snupkg

# Packages
packages/
!packages/build/

.github

# docker-compose env file

docker-compose.env

